
<form #supplierForm="ngForm" (ngSubmit)="addSupplier(supplierForm)">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h3>Supplier Form</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">Add Supplier</h5>
      <p class="card-text">Fill out this form for and submit data</p>
    </div>

    <div class="card-body">
      <div class="form-group">
        <label for="supplierName">SupplierName</label>
        <input type="text" [(ngModel)]="supplierName" id="supplierName" name="supplierName" value="" class="form-control" />
      </div>

      <div class="card">
        <div class="card-header">Main Address</div>
        <div class="card-body">
          <div class="form-group">
            <label for="addressStreet1">Street Address</label>
            <input type="text" [(ngModel)]="supplierStreetAddress1" name="addressStreet1" id="addressStreet1" value="" class="form-control" />
          </div>
          <div class="form-group">
            <label for="addressStreet2">Apt/Building Number</label>
            <input type="text" [(ngModel)]="supplierStreetAddress2" name="supplierStreetAddress2" id="supplierStreetAddress2" value="" class="form-control" />
          </div>
          <div class="form-group">
            <label for="selectedState">State</label>
            <select class="custom-select" id="selectedState" name="selectedState" [(ngModel)]="UsaState">
              <option selected>Choose State ...</option>
              <option *ngFor="let state of states" [value]="state.id">
                {{ state.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="addressCity">city</label>
            <input type="text" [(ngModel)]="addressCity" name="addressCity" id="addressCity" value="" class="form-control" />
          </div>
          <div class="form-group">
            <label for="addressPostalCode">Postal Code</label>
            <input type="text" [(ngModel)]="addressPostalCode" name="addressPostalCode" id="addressPostalCode" value="" class="form-control" />
          </div>
        </div>
      </div>

    </div>

    <div class="card-footer">
      <button class="btn btn-primary">Save</button>
    </div>
  </div>
</form>

{{ supplierForm.value | json }}
