<body>
  <div *ngIf="isLoggedIn(); then LoggedInAlready else NotLoggedInYet"></div>
  <ng-template #NotLoggedInYet>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="container">
      Not Logged In yet.
      <app-login></app-login>
    </div>
  </ng-template>

  <ng-template #LoggedInAlready>
    <app-nav-menu></app-nav-menu>
    <div class="container">
      <div class="sm-3">
        left
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-secondary">1</button>
          <button type="button" class="btn btn-secondary">2</button>

          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="#">Dropdown link</a>
              <a class="dropdown-item" href="#">Dropdown link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="sm-9">
        <router-outlet></router-outlet>
      </div>
      
    </div>
  </ng-template>
  
</body>
