<body>
  <div *ngIf="isLoggedIn(); then LoggedInAlready else NotLoggedInYet"></div>
  <ng-template #NotLoggedInYet>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="container">
      <app-login></app-login>
    </div>
  </ng-template>

  <ng-template #LoggedInAlready> 
    <app-nav-menu></app-nav-menu>
    <div class="container">

      <div class="row">
        <div class="col-sm-6">
          Purchasing Menu Column 
        </div>
        <div class="col-sm-6">      
        </div>        
      </div>

      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-0">
          <router-outlet></router-outlet>
        </div>           
      </div>

    </div>
  </ng-template>
  
</body>
